.button-group {
    display: flexbox;
    justify-content: center;
    background-color: rgb(131, 139, 95);
}

.button {
    background-color: antiquewhite;
    /* border-radius: 10px; */
    border: none;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(59, 59, 59);
}