.Button {
    background-color: rgba(131, 139, 95, 0.205);
    border: none;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7c856e;
}