.textInput {
    display: flexbox;
    height: 2rem;
    width: 20vw;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 1rem;
    padding-left: 1rem;
    color: #7c856e;
    border-radius: 10px;
    border: none;
    background-color: #7c856e23;
}